<!DOCTYPE html>
<html>
  <head>
    <title>The Gossip Project</title>
    <style>
      body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background-color: #f2f2f2;
        margin: 0;
        padding: 0;
      }

      h1 {
        font-size: 2em;
      }

      p {
        padding: 10px;
      }

      a {
        text-decoration: none;
        color: #007bff;
      }

      ul {
        list-style: none;
        padding: 0;
      }

      li {
        margin: 10px 0;
      }

      footer {
        background-color: #d3d3d3; /* Couleur de fond légèrement plus foncée */
        text-align: right;
        padding: 10px;
        width: 100%;
        position: absolute;
        bottom: 0;
      }
    </style>
  </head>
  <body>
    <h1>Bienvenue sur notre site de potins !</h1>
    <p>Vous pouvez ajouter un nouveau potin :</p>
    <a href="/gossips/new">Ajouter un nouveau potin</a>

    <ul>
      <% gossips.each_with_index do |gossip, index| %>
        <li>
          <a href="/gossips/<%= index %>">
            <%= gossip.author %>: <%= gossip.content %>
          </a>
        </li>
      <% end %>
    </ul>

    <footer>
    <a href="https://www.thehackingproject.org" target="_blank">THP</a> "The GrosSlips Project"
    </footer>
  </body>
</html>
