<!DOCTYPE html>
<html>
  <head>
    <title>Créer un potin</title>
    <style>
      body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background-color: #f2f2f2;
        margin: 0;
        padding: 0;
      }

      h1 {
        font-size: 2em;
      }

      p {
        padding: 10px;
      }

      form {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        text-align: center;
      }

      input[type='text'] {
        width: 100%;
        padding: 10px;
        margin: 10px 0;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 1em;
      }

      input[type='submit'] {
        background-color: #007bff;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        font-size: 1.2em;
        cursor: pointer;
      }

      input[type='submit']:hover {
        background-color: #0053b3;
      }

      footer {
        background-color: #d3d3d3; /* Couleur de fond légèrement plus foncée */
        text-align: right;
        padding: 10px;
        width: 100%;
        position: absolute;
        bottom: 0;
      }
    </style>
  </head>
  <body>
    <h1>Crée un potin !</h1>
    <p>Balance ton potin via le formulaire ci-dessous</p>
    <form action='/gossips/new' method='POST'>
      Saisi ici ton nom :  <input type='text' name='gossip_author'/><br/>
      Balance ton potin : <input type='text' name='gossip_content'/><br/>
      <input type='submit' value='Envoyer'/>
    </form>

    <footer>
      <a href="https://www.thehackingproject.org" target="_blank">THP</a> The GrosSlips Project
    </footer>
  </body>
</html>