<!DOCTYPE html>
<html>
  <head>
    <title>Gossip Show</title>
    <style>
      body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background-color: #f2f2f2;
        margin: 0;
        padding: 0;
      }

      h1 {
        font-size: 2em;
      }

      ul {
        list-style: none;
        padding: 0;
      }

      li {
        margin-bottom: 10px;
      }

      a {
        color: #007bff;
        text-decoration: none;
      }

      footer {
        background-color: #d3d3d3; 
        text-align: right;
        padding: 10px;
        width: 100%;
        position: absolute;
        bottom: 0;
      }
    </style>
  </head>
  <body>
    <h1>Voici la page du potin n°<%= params[:id].to_i + 1 %></h1>
    <ul>
      <li>Son auteur : <%= @potin.author %></li>
      <li>Le contenu du potin : <%= @potin.content %></li>
    </ul>
    <a href="/">pour revenir à la page des potins</a>

    <footer>
      <a href="https://www.thehackingproject.org" target="_blank">THP</a> The GrosSlips Project
    </footer>
  </body>
</html>